:root {
    --nav-hover-color: #4ed401;
    --main-h-color: #8cb9ff;
    --background-color: #000000;
    --unknown-color: #f00f00;
    --text-color: #ffffff;
    --border-color: #878e98;
    --main-background-color: #464646;
    --main-background-color-hover: #575656;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
}

@mixin display-flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin display-flex-row-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@mixin font {
    font-family: Fixel, TrebuchetMS, sans-serif
}

body {
    @include font;
    color: var(--text-color);
    background-color: var(--unknown-color);
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    @include display-flex-center-column;
    flex-direction: row;
    background-color: var(--background-color);
    padding: 0 80px;
}

.navigation {
    @include display-flex-center-column;
    align-self: flex-start !important;
    align-items: flex-start !important;
    margin-top: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navigation ul {
    margin: 0;
    padding: 0;
}
.navigation ul li {
    list-style: none;
    @include display-flex-row-start;
    padding: 10px 0;
    padding-left: 20px;
    margin: 5px 0;
}
.navigation ul li a:hover {
    color: var(--nav-hover-color);
    border-radius: 5px;
}
.navigation ul li a:focus {
    border: var(--nav-hover-color) dashed 1px;
    color: var(--nav-hover-color);
}
.navigation button {
    background-color: var(--main-background-color);
    color: var(--main-h-color);
    border: 1px solid var(--main-h-color);
    border-radius: 5px;
    @include display-flex-row-start;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
    min-width: 10%;
    min-height: 6%;
    max-width: fit-content;
}
.navigation button img {
    width: 20px;
    height: 20px;
    @include display-flex-center-column;
}
.navigation ul li a {
    text-decoration: none;
    color: var(--border-color);
    font-size: 1.2em;
}
.content {
    @include display-flex-center-column;
    max-width: 60%;
    margin: 20px auto;
}
.content-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25vh;
}
.content-header svg {
    display: flex;
    flex-grow: 1;
    max-width: fit-content;
    max-height: 60%;
    border-radius: 30%;
}
.content-header h1 {
    font-size: 2em;
    margin: 0;
    margin-top: 20px;
    color: var(--text-color);
}
.content-header button {
    background-color: var(--main-background-color);
    color: var(--main-h-color);
    border: 1px solid var(--main-h-color);
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
    width: 10%;
}
.content-header button:hover {
    background-color: var(--main-background-color-hover);
    cursor: pointer;
}
.content-body {
    padding-top: 10px;
    margin-top: 40px;
}
.content-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.content-body ul li {
    background-color: var(--main-background-color);
    box-shadow: 0 0 10px var(--box-shadow-color);
    margin: 0;
    padding: 10px;
    margin: 20px 0;
}
.chapter-content {
    list-style: none;
    padding: 0;
    margin: 0;
}
.chapter-content:hover {
    background-color: var(--main-background-color-hover);
    h3 {
        background-color: var(--main-background-color-hover);
    }
    cursor: pointer;
}
.chapter-content h3 {
    margin: 0;
    background-color: var(--main-background-color);
    color: var(--main-h-color);
}